@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PMS<img src="~/Content/ic_beach_access_black_48dp.png" width="60" /></h1>
    PMS is a real and efficient Project Management System for company.<br />
    In-Service  Employees : &nbsp;&nbsp;<span style="font-size:200%;font-family:叶根友刀锋黑草;line-height:50%">@ViewBag.StaffCount&nbsp;&nbsp;</span> <br />
    Launched Projects : &nbsp;&nbsp;<span style="font-size:200%;font-family:叶根友刀锋黑草;line-height:50%">@ViewBag.ProjectInfoCount&nbsp;&nbsp; </span><br />


</div>


<div class="row">
    <div class="col-sm-3"><div style="background-color:salmon;font-family:'Lucida Bright';padding:0.3cm 0.3cm 0.4cm 0.4cm">
        <h2>Project</h2>
        <p>Project gives you a powerful, patterns-based way to know the specific details of a project. </p>
    </div></div>
    <div class="col-sm-3">
        <div style="background-color:chartreuse;font-family:'Lucida Bright';padding:0.3cm 0.3cm 0.4cm 0.4cm">
            <h2>WorkHour</h2>
            <p>WorkHour is to show the start date and work content of a project.</p>
        </div>
    </div>
    <div class="col-sm-3">
        <div style="background-color:Highlight;font-family:'Lucida Bright';padding:0.3cm 0.3cm 0.4cm 0.4cm">
            <h2>WorkPercentage</h2>
            <p>You can easily understand the staffs' contribution percentageto to the project. </p>
        </div>
    </div>
    <div class="col-sm-3">
        <div style="background-color:orange;font-family:'Lucida Bright';padding:0.3cm 0.3cm 0.4cm 0.4cm">
            <h2>Launched</h2>
            <p>This is to let you know information of the projects has been launched.</p>
        </div>
    </div>

</div>