@{
    Layout = null;
}
<table class="table table-bordered" id="database-table">
    <tr>
        <th>Select</th>
        <th>PBNo</th>
        <th>PBName</th>
        <th>Detail</th>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="PB" value=" " />
        </td>
        <td>BSAPT-3034</td>
        <td>Update Volume Discount presentation and buy box logic.</td>
        <td>
            <button class="btn btn-primary">
                Detail
            </button>
        </td>
    </tr>
</table>
