
@{
    ViewBag.Title = "Project";
}

@section ProjectIndex{
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css_file/projectStyle.css" rel="stylesheet" />
    <link href="~/Content/css_file/buttons.css" rel="stylesheet" />
}
<h2>Project</h2>
<div class="row">
    <div class="col-xs-2 contour">
        @*左边状态栏*@
        <div>
            <h5>Project Status</h5>
        </div>
        <div>
            <img src="~/Content/img_file/project_red.png" alt="Release" class="pic" /> 
            <a href="#" class="project-status">Release</a> &nbsp;@ViewBag.releaseCount
            <br />
            <img src="~/Content/img_file/project_blue.png" alt="Alternate Text" class="pic"/> 
            <a href="#" class="project-status">Load</a> &nbsp;@ViewBag.loadCount<br />
            <img src="~/Content/img_file/project_green.png" alt="Alternate Text" class="pic"/> 
            <a href="#" class="project-status">Coding</a> &nbsp;@ViewBag.codingCount <br />
        </div>
        <div id="add">
            @*两个按钮，用来添加PB和project*@
            <a href="#" class="button button-3d button-action button-pill" data-toggle="modal" data-target="#exampleModal">Add Project</a>
            <a href="#" class="button button-3d button-action button-pill">Add PB</a>

        </div>
        @*添加新的Project*@
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">New Project</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="status" class="control-label col-sm-3">Status:</label>
                                <input type="text" class="form-control" id="status"/>
                            </div>
                            <div class="form-group">
                                <label for="PBNO" class="control-label col-sm-3">PBNO:</label>
                                <input type="text" class="form-control" id="PBNO"/>
                            </div>
                            <div class="form-group">
                                <label for="start-date" class="control-label col-sm-3">StartDate:</label>
                                <input type="text" class="form-control" id="start-date" />
                            </div>
                            <div class="form-group">
                                <label for="release-date" class="control-label col-sm-3">ReleaseDate:</label>
                                <input type="text" class="form-control" id="release-date" />
                            </div>
                            <div class="form-group">
                                <label for="lanuch-date" class="control-label col-sm-3">LanuchDate:</label>
                                <input type="text" class="form-control" id="lanuch-date" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-xs-5 contour" style="margin:0;">
        @*中间project栏*@
    </div>
    <div class="col-xs-4 contour">
        @*右边pb栏目*@
    </div>
</div>
<script src="~/Content/js_file/jquery-3.0.0.min.js"></script>
<script src="~/Content/js_file/projectJS.js"></script>
